/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота для заполнения экрана */
    margin: 0; /* Убираем отступы у body */
    padding-top: 100px; 
    overflow-x: hidden;

}

/* Основной контент */
.main-content {
    flex: 1; /* Занимает всё доступное пространство */
}

/*header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: linear-gradient(to bottom, #e6f2ff, #66c2ff, #3399ff);
    height: 100px;
    position: fixed; /* Fixes the header to the top of the viewport */
    top: 0;
    left: 0;
    width: 100dvw;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header .logo h1 {
    font-family: 'Brush Script MT', cursive;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-size: 3.5rem;
}


nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    align-items: center
}

nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

nav ul li a:hover,
nav ul li a.active {
    color: black;
    text-decoration: underline;
}

/* Authentication buttons: LOGIN and SIGNUP */
.auth-buttons {
    display: flex;
    gap: 1rem;
    display: flex;
    gap: 1rem; /* Add spacing between the cart, profile, and logout button */
    align-items: center; /* Align items vertically */
    justify-content: flex-end; /* Keep buttons aligned to the right */
}

.login-btn,
.signup-btn {
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding for better appearance */
    font-weight: 400;
    color: white;
    background-color: #2585e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better effect */
    border: 2px solid transparent;
    width: auto; /* Allow the button to resize based on its content */
    text-align: center;
    transition: all 0.3s ease;
    margin: 0; /* Remove unwanted margins */
    display: inline-block; /* Ensure proper alignment */
}

.auth-buttons .signup-btn {
    background-color: white;
    color: #3399ff;
    border-color: #3399ff;
}

.auth-buttons .login-btn:hover,
.auth-buttons .signup-btn:hover {
    background-color: #0056b3;
    color: white;
    border-color: #0056b3;
}

/* Search icon */
.auth-buttons .search-icon {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    padding-bottom: 10px; /* Align search icon closer to the bottom */
}
/* Гамбургер-меню */
.hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s;
}

/* Стиль мобильного меню */
.mobile-menu {
    display: none;
    position: fixed;
    top: 10px;
    right: 3px;
    width: 300px;
    background-color: #59b8f8;
    border-radius: 10px;
    color: rgb(7, 6, 6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.mobile-menu.show {
    display: block;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
}
.mobile-menu ul li:first-child{
    margin-top: 50px;
}
.mobile-menu ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между иконкой и текстом */
}

.mobile-menu ul li a:hover {
    color: #6e6d68;
}

/* Иконки */
.mobile-menu ul li a i {
    font-size: 20px;
}



/* Hero section */
.hero-section {
    display: flex;
    justify-content: center;
    flex: 1; /* Takes up available space between header and footer */
    margin-top: 30px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px;
        height: auto; /* Let height adjust for smaller screens */
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .auth-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .hero-section h2 {
        font-size: 2rem;
    }
}

.locations-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    justify-content: center;

}

.locations-container h1 {
    font-size: 2.7rem;
    font-family: 'Poppins', serif;
    color: black;
    text-decoration: none;
    font-weight: 400;
    background: linear-gradient(to left, #e0f7fa, #00aaff);
    padding: 10px 20px;
}

.locations-container h1 a {
    color: white;
    text-decoration: none;
    cursor: default;
}



.locations {
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjusted to smaller gap */
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 30%;
}
.location a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location img {
    width: 90%; /* Increased image width by 10% */
    height: auto;
    border-radius: 8px;
}

.view-text {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', serif;
}

.location a {
    color: black;
    text-decoration: none;
}

.separator {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.suppliers-section {
    text-align: left;
}

.suppliers-section-wrapper{
    background: linear-gradient(to left, #e0f7fa, #00aaff);
    text-align: start;
    color: white;
}

.suppliers-section h2 {
    font-size: 2.4rem;
    display: inline-block; /* Чтобы отступ влиял только на заголовок */
    font-family: 'Poppins', serif;
    padding: 10px 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -70px; /* Постоянное пересечение на 70px */
    overflow: hidden;
    max-width: 100%;
    position: relative;
    margin-top: 30px;
}

.carousel-card {
    margin-top: 50px;
    background-color: #f4f4f4;
    width: 600px; /* Ширина карточек */
    padding: 30px;
    border-radius: 20px; /* Закругленные углы */
    text-align: center;
    opacity: 0.3;
    transition: all 0.7s ease;
    transform: scale(0.9) translateY(20px); /* По умолчанию уменьшенные и ниже */
    position: relative;
    z-index: 1;
    margin-left: -120px; /* Перекрытие с предыдущей карточкой */
}

.carousel-card.active {
    background-color: #817f7f;
    color: white;
    opacity: 1;
    transform: scale(1.05) translateY(-10px); /* Поднимается и становится крупнее */
    z-index: 2; /* Выше других */
    margin-left: -70px; /* Перекрытие с предыдущей карточкой */
}

.carousel-card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.carousel-card p {
    font-size: 1rem;
    line-height: 1.6;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -120px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Расстояние между кнопками и точками */
    margin-top: 25px;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #333;
}

.carousel-card {
    display: flex;
    align-items: center;
    gap: 20px; /* Отступ между изображением и текстом */
    text-align: left; /* Выравнивание текста по левому краю */
}

.carousel-card p {
    font-size: 1.1em;
}

/* Стили для изображения внутри карточек */
.carousel-card .card-image {
    width: 120px; /* Ширина изображения */
    height: 130px; /* Высота изображения */
    margin-right: 20px; /* Отступ справа от изображения */
    flex-shrink: 0; /* Предотвращает изменение размера изображения */
}


.category{

}

.categories-section {
    margin: 50px 0;
    text-align: center;
}

.category-header-text {
    font-size: 2.3rem;
    font-weight: 400;
    font-family: 'Poppins', serif;
    text-align: start;
    background: linear-gradient(to left, #e0f7fa, #00aaff);
    color: white;
    padding: 10px 20px;

}

.categories-section h2 a {
    color: inherit; /* Makes the link color the same as surrounding text */
    text-decoration: none; /* Removes the underline */
    font-size: inherit; /* Ensures it matches the h2 styling */
    font-weight: inherit;
}


.categories {
    margin: 100px 0;
}

.category-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make location_images circular */
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}

.category p {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;

}

/* General Section Styles */
.photographers-section,
.designers-section,
.choreographers-section {
    text-align: center;
    font-family: 'Poppins', serif;
    margin-bottom: 120px;
}

.photographers-section h2,
.designers-section h2,
.choreographers-section h2 {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Poppins', serif;
}

.photographers-section h2 {
    margin-left: -650px;
}

.designers-section h2 {
    margin-left: -1000px;
}

.choreographers-section h2 {
    margin-left: -900px;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.categories-section .category a {
    color: inherit; /* Inherit the color from the parent, so it won't apply link colors */
    text-decoration: none; /* Remove underline from links */
}

.categories-section .category a:hover {
    color: inherit; /* Ensure color stays the same on hover */
}

.categories-section .category p {
    margin: 10px 0 0;
    font-weight: bold;
}


/* Footer Section */
.footer {
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100dvw; /* Ensures it spans the entire width */
    box-sizing: border-box;
    margin: 0; /* Remove any unwanted margins */
    padding: 0 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo h2 {
    font-size: 2.5rem;
    margin: 0;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: -50px;
    color: #ddd;
}

img.icon {
    width: 40px;
    height: 40px;
}

/* Copyright */
.footer .copyright {
    font-size: 1.2rem;
    color: #bbb;
    text-align: center;
    margin-top: 140px;
}



.contact-info h3 {
    font-size: 1.2rem;
    color: #333;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

.info-item .icon {
    font-size: 1.1rem;
    margin-right: 15px;
}

ul{
    margin-top: 20px;
}

.hero-section{
}

.hero-section > h2{
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    background: linear-gradient(to right, #e0f7fa, #00aaff);
}
